# Odoo data
addons/*
!addons/.gitkeep
!addons/sl_salon_management/
!addons/sl_salon_management/**

# Environment specific
.env

# Docker volumes
odoo-web-data/
odoo-db-data/
odoo-config/

# System Files
.DS_Store
.idea/
*.log
*.pyc
__pycache__/

# Ignore automated backups
backups/
dump/

# Ignore Odoo filestore (images/attachments)
odoo-data/
postgres-data/

# Ignore sensitive secrets
secrets/
*.env